p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Example styles for the Ladlecalculator component */
  .head {
    text-align: center;
    padding-block: 20px;
  }
  
  .content {
    padding-top: 10px;
    margin: 0 auto;
    padding: 0 60px 0 70px;
    width: 253px;
  }
  .content2 {
    padding-top: 10px;
    margin: 0 auto;
    padding: 0 60px 105px 70px;
    width: 211px;
  }
  
  .main-box{
    display: flex;
    justify-content: center;
    padding-top: 130px;
    /* margin: 0 auto; */
  }
  
  .box {
    display: flex;
    margin: 0 15% 0 9%;
    border: 2px solid black;
    border-radius: 12px;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
  }
  .box2 {
    display: flex;
    margin: 0 15% 0 0;
    border: 2px solid black;
    border-radius: 12px;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
  }
  
  .row {
    display: flex;
    padding: 10px;
  }
  
  
  .textcentre {
    text-align: center;
  }
  
  /* Responsive Layout */
  @media screen and (max-width: 1080px) {
    p{
      font-size: 12px;
    }

    html{
      font-size: 62.5%;
    }
    /* Adjust the layout for smaller screens */
    .box {
      margin: 0 2% 0 2%;
       /* Stack columns on small screens */
    }
    .box2 {
      margin: 0 2% 0 2%;
       /* Stack columns on small screens */
    }
    .content{
      padding: 0px 0px 0px 20px;
    }
    .main-box{
      flex-direction: column;
      /* padding-top: 0px; */
    }
    .content2 {
      padding-top: 10px;
      margin: 0 auto;
      padding: 0px 20px 0px 18px;
    }
  }
  
  
  /* Calculate Fabrication section */
  .main-table{
    display: flex;
    justify-content: space-between;
    margin: 0 2% 18px 2%;
  }
  
  .row3{
    display: flex;
    padding: 8px;
    height: 50px;
    width: 175px;
  }
  .content3{
    padding-top: 10px;
    margin: 0 auto;
    padding: 0 15px 0 30px;
    width: 107px;
  }
  .border{
    border: 2px solid black;
    margin: 0 15% 18px 15%;
    border-radius: 12px;
  }
  .fabrication_result{
    padding-inline: 60px;
  }

  @media screen and (max-width: 1080px){
    .content3{
        padding: 0 2px 0 9px;
        width: 47px;
        margin: -12px;
    }
    .main-table{
      margin: 0 2% 18px 2%;
    }
    .border{
      margin: 0 2% 18px 2%;
      border-radius: 12px;
    }
    .row3{
      display: flex;
    padding: 40px 0 0 0;
    height: 25px;
    width: 10px;
    }
    
    p{
      font-size: 10px;
    }
  }