/* styles/styles.css */

/* Add global styles if needed */
*{
  margin: 0;
  padding: 0;
}

body {
  /* margin: -21px -10px 0px -10px; */
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  /* font-family: Arial, sans-serif; */
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.button:hover {
  background-color: #0056b3;
}

/* Example styles for the Ladlecalculator component */
.head {
  text-align: center;
  padding: 25px;
}

.content {
  padding: 0px 60px 25px 70px;
  /* border: 2px solid blue; */
  padding-top: 10px;
  width: 100%;
  max-width: 800px; /* You can adjust this value as needed for the content width */
  margin: 0 auto;
}

.box {
  display: flex;
  margin: 0 15% 0 15%;
  border: 2px solid black;
  border-radius: 12px;
  /* flex-wrap: wrap; */
  /* border: 2px solid red; */
}

.row {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex: 1; /* Allow rows to take available space within the box */
}

.textfield {
  flex: 1;
  width: 100%;
}

.outcome {
  /* margin: 4% 0 0 15%; */
}

.textcentre {
  text-align: center;
}

/* Responsive Layout */
@media screen and (max-width: 768px) {
  /* Adjust the layout for smaller screens */
  .box {
    margin: 0 2% 0 2%;
     /* Stack columns on small screens */
  }
  .content{
    padding: 0px 0px 0px 20px;
  }
  .outcome{
    /* margin: 4% 0 0 2%; */
  }

}


/* Calculate Fabrication section */
.main-table{
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}
.column{
  margin: 0 auto;
}
.head-column{
  font-size: 15px;
}

.cell{
  margin-block: 4px;
}
.cell_para{
  margin-block: 10px;
}
.cell_para p{
  font-size: 25px;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}